<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Admin</li>

        <li>
          <a href="#" class="waves-effect">
            <i class="fas fa-home"></i>
            <span>Admin Dashboard</span>
          </a>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="fas fa-user-friends"></i>
            <span>employés</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="{% url 'employee-management' %}">Gestion des employés</a></li>
            <li><a href="{% url 'add-employee' %}">Ajouter un employé</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="fas fa-arrow-left"></i>
            <span>Requests</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="{% url 'request-management' %}">Requests Management</a></li>
            <li><a href="{% url 'request-management' %}">Add Request</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="fas fa-sliders-h"></i>
            <span>Leave Policies</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="{% url 'leave-type-management' %}">Leave Type Management</a></li>
            <li><a href="{% url 'add-leave-type' %}">Add Leave Type</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="mdi mdi-google-analytics"></i>
            <span>Reports and Analytics</span>
          </a>
        </li>

        <li class="menu-title">Employee</li>

        <li>
          <a href="#" class="waves-effect">
            <i class="ti-home"></i>
            <span>Employee Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <i class="ti-calendar"></i>
            <span>Leave Request</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <i class="ti-calendar"></i>
            <span>Leave Request History </span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <i class="fas fa-user-cog"></i>
            <span>Profile and Settings </span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <i class="ti-calendar"></i>
            <span>Calendar</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <i class="fas fa-question"></i>
            <span>FAQ and Help</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
