{% extends 'starter.html' %} {% load static %} {% block page-title %} Add Leave
Request {% endblock %} {% block page-content %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Jquery Steps Wizard</h4>
        <p class="card-title-desc">
          A powerful jQuery wizard plugin that supports accessibility and HTML5
        </p>

        <form id="form-horizontal" class="form-horizontal form-wizard-wrapper">
          <h3>Select Agent</h3>
          <fieldset>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Striped rows</h4>
                            <p class="card-title-desc">Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>    
                            
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">

                                    <thead>
                                        <tr>
                                            <th>Matricule</th>
                                            <th>Name</th>
                                            <th>Job Position</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary waves-effect waves-light">Select</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary waves-effect waves-light">Select</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary waves-effect waves-light">Select</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 border">
                    <div class="user-sidebar">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <div class="d-flex justify-content-end">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle text-muted fs-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="mt-n4 position-relative">
                                    <div class="text-center">
                                        <img src="{% static 'assets/images/users/avatar-1.jpg' %}" alt="" class="avatar-xl rounded-circle img-thumbnail">

                                        <div class="mt-3">
                                            <h5 class="">Kat Macaulay</h5>
                                            <div>
                                                <a href="#" class="text-muted m-1">Project Manager</a>
                                            </div>

                                            <div class="mt-4">
                                                <a href="" class="btn btn-primary waves-effect waves-light btn-sm">Send Message</a>
                                                <a href="" class="btn btn-primary waves-effect waves-light btn-sm">Email</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="p-3 mt-3">
                                    <div class="row text-center">
                                        <div class="col-6 border-end">
                                            <div class="p-1">
                                                <h5 class="mb-1">1,269</h5>
                                                <p class="text-muted mb-0">Products</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-1">
                                                <h5 class="mb-1">5.2k</h5>
                                                <p class="text-muted mb-0">Followers</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card body -->
                        </div> <!-- end card -->



                    </div>
                </div>

            </div>
          </fieldset>
          <h3>Set Leave</h3>
          <fieldset>
            <div class="row">
                <div class="col-md-6 border">
                    <div class="card directory-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'assets/images/users/user-8.jpg' %}" alt="" class="img-fluid img-thumbnail rounded-circle avatar-lg">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="text-primary font-size-18 mb-1">Jerome A. Hebert</h5>
                                    <p class="font-size-12 mb-2">Creative Director</p>
                                    <p class="mb-0">Jerome@veltrix.com</p>
                                </div>
                                <ul class="list-unstyled social-links ms-auto">
                                    <li><a href="#" class="btn-primary"><i class="mdi mdi-facebook"></i></a></li>
                                    <li><a href="#" class="btn-info"><i class="mdi mdi-twitter"></i></a></li>
                                </ul>
                              </div>
                              <!-- <hr> -->
                              <!-- add more element here -->
                        </div>
                        <!-- end cardbody -->
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Agent Leave History</h4>
                            <p class="card-title-desc">Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>    
                            
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">

                                    <thead>
                                        <tr>
                                            <th>Leave Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Vacation</th>
                                            <td>05-02-2023</td>
                                            <td>10-02-2023</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Sick</th>
                                            <td>15-03-2023</td>
                                            <td>18-03-2023</td>
                                            <td><span class="badge bg-danger">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Personal</th>
                                            <td>20-04-2023</td>
                                            <td>22-04-2023</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Vacation</th>
                                            <td>10-06-2023</td>
                                            <td>20-06-2023</td>
                                            <td><span class="badge bg-warning">Pending</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-title-desc">Parsley is a javascript form validation
                                library. It helps you provide your users with feedback on their form
                                submission before sending it to your server.</p>

                                <div class="mb-3">
                                    <label class="form-label">Single Select</label>
                                    <select class="form-control select2">
                                        <option>Select</option>
                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                        <optgroup label="Pacific Time Zone">
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </optgroup>
                                        <optgroup label="Mountain Time Zone">
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="UT">Utah</option>
                                            <option value="WY">Wyoming</option>
                                        </optgroup>
                                        <optgroup label="Central Time Zone">
                                            <option value="AL">Alabama</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TX">Texas</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="WI">Wisconsin</option>
                                        </optgroup>
                                        <optgroup label="Eastern Time Zone">
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="IN">Indiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="OH">Ohio</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WV">West Virginia</option>
                                        </optgroup>
                                    </select>
                                    <!-- end -->
                                </div>
                                
                        </div>
                    </div>
                    
                </div>
            </div>
          </fieldset>
          <h3>Confirmation</h3>
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <div class="row mb-3">
                  <label for="txtNameCard" class="col-lg-3 col-form-label"
                    >Name on Card</label
                  >
                  <div class="col-lg-9">
                    <input
                      id="txtNameCard"
                      name="txtNameCard"
                      type="text"
                      class="form-control"
                      placeholder="Enter card name"
                    />
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="row mb-3">
                  <label for="ddlCreditCardType" class="col-lg-3 col-form-label"
                    >Credit Card Type</label
                  >
                  <div class="col-lg-9">
                    <select
                      id="ddlCreditCardType"
                      name="ddlCreditCardType"
                      class="form-select"
                    >
                      <option value="">--Please Select--</option>
                      <option value="AE">American Express</option>
                      <option value="VI">Visa</option>
                      <option value="MC">MasterCard</option>
                      <option value="DI">Discover</option>
                    </select>
                  </div>
                  <!-- end col -->
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">
              <div class="col-md-6">
                <div class="row mb-3">
                  <label
                    for="txtCreditCardNumber"
                    class="col-lg-3 col-form-label"
                    >Credit Card Number</label
                  >
                  <div class="col-lg-9">
                    <input
                      id="txtCreditCardNumber"
                      name="txtCreditCardNumber"
                      type="text"
                      class="form-control"
                      placeholder="Enter credit card number"
                    />
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="row mb-3">
                  <label
                    for="txtCardVerificationNumber"
                    class="col-lg-3 col-form-label"
                    >Card Verification Number</label
                  >
                  <div class="col-lg-9">
                    <input
                      id="txtCardVerificationNumber"
                      name="txtCardVerificationNumber"
                      type="text"
                      class="form-control"
                      placeholder="Enter verification number"
                    />
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row">
              <div class="col-md-6">
                <div class="row mb-3">
                  <label for="txtExpirationDate" class="col-lg-3 col-form-label"
                    >Expiration Date</label
                  >
                  <div class="col-lg-9">
                    <input
                      id="txtExpirationDate"
                      name="txtExpirationDate"
                      type="text"
                      class="form-control"
                      placeholder="DD /MM /YYYY"
                    />
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </fieldset>
        </form>
        <!-- end form -->
      </div>
    </div>
  </div>
</div>
<!-- row end -->

{% endblock page-content %}
{% block scripts %}
<!-- form wizard -->
<script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/libs/spectrum-colorpicker2/spectrum.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

<script src="{% static 'assets/libs/parsleyjs/parsley.min.js' %}"></script>

<script src="{% static 'assets/libs/jquery-steps/build/jquery.steps.min.js' %}"></script>

<!-- form wizard init -->
<script src="{% static 'assets/js/pages/form-wizard.init.js' %}"></script>

<script>
  !(function (t) {
    "use strict";
    function e() {
      for (
        var e = document
            .getElementById("topnav-menu-content")
            .getElementsByTagName("a"),
          t = 0,
          a = e.length;
        t < a;
        t++
      )
        "nav-item dropdown active" ===
          e[t].parentElement.getAttribute("class") &&
          (e[t].parentElement.classList.remove("active"),
          e[t].nextElementSibling.classList.remove("show"));
    }
    var a, n;
    function s(e) {
      1 == t("#light-mode-switch").prop("checked") && "light-mode-switch" === e
        ? (t("html").removeAttr("dir"),
          t("#dark-mode-switch").prop("checked", !1),
          t("#rtl-mode-switch").prop("checked", !1),
          t("#bootstrap-style").attr("href", "assets/css/bootstrap.min.css"),
          t("#app-style").attr("href", "assets/css/app.min.css"),
          document.body.setAttribute("data-bs-theme", "light"),
          "light" == document.body.getAttribute("data-bs-theme") &&
          "light" == document.body.getAttribute("data-topbar")
            ? (document.body.setAttribute("data-topbar", "light"), (a = !0))
            : "light" == document.body.getAttribute("data-bs-theme") &&
              "dark" == document.body.getAttribute("data-topbar")
            ? document.body.setAttribute("data-topbar", "dark")
            : document.body.setAttribute("data-topbar", "light"),
          sessionStorage.setItem("is_visited", "light-mode-switch"))
        : 1 == t("#dark-mode-switch").prop("checked") &&
          "dark-mode-switch" === e
        ? (t("html").removeAttr("dir"),
          t("#light-mode-switch").prop("checked", !1),
          t("#rtl-mode-switch").prop("checked", !1),
          t("#bootstrap-style").attr("href", "assets/css/bootstrap.min.css"),
          t("#app-style").attr("href", "assets/css/app.min.css"),
          document.body.setAttribute("data-bs-theme", "dark"),
          document.body.setAttribute("data-topbar", "dark"),
          sessionStorage.setItem("is_visited", "dark-mode-switch"))
        : 1 == t("#rtl-mode-switch").prop("checked") &&
          "rtl-mode-switch" === e &&
          (t("#light-mode-switch").prop("checked", !1),
          t("#dark-mode-switch").prop("checked", !1),
          t("#bootstrap-style").attr(
            "href",
            "assets/css/bootstrap-rtl.min.css"
          ),
          t("#app-style").attr("href", "assets/css/app-rtl.min.css"),
          t("html").attr("dir", "rtl"),
          document.body.setAttribute("data-bs-theme", "light"),
          document.body.setAttribute("data-topbar", "light"),
          sessionStorage.setItem("is_visited", "rtl-mode-switch"));
    }
    function o() {
      document.webkitIsFullScreen ||
        document.mozFullScreen ||
        document.msFullscreenElement ||
        (console.log("pressed"), t("body").removeClass("fullscreen-enable"));
    }
    if (
      (t("#side-menu").metisMenu(),
      t("#vertical-menu-btn").on("click", function (e) {
        e.preventDefault(),
          t("body").toggleClass("sidebar-enable"),
          992 <= t(window).width()
            ? t("body").toggleClass("vertical-collpsed")
            : t("body").removeClass("vertical-collpsed");
      }),
      t("#sidebar-menu a").each(function () {
        var e = window.location.href.split(/[?#]/)[0];
        this.href == e &&
          (t(this).addClass("active"),
          t(this).parent().addClass("mm-active"),
          t(this).parent().parent().addClass("mm-show"),
          t(this).parent().parent().prev().addClass("mm-active"),
          t(this).parent().parent().parent().addClass("mm-active"),
          t(this).parent().parent().parent().parent().addClass("mm-show"),
          t(this)
            .parent()
            .parent()
            .parent()
            .parent()
            .parent()
            .addClass("mm-active"));
      }),
      t(".navbar-nav a").each(function () {
        var e = window.location.href.split(/[?#]/)[0];
        this.href == e &&
          (t(this).addClass("active"),
          t(this).parent().addClass("active"),
          t(this).parent().parent().addClass("active"),
          t(this).parent().parent().parent().addClass("active"),
          t(this).parent().parent().parent().parent().addClass("active"),
          t(this)
            .parent()
            .parent()
            .parent()
            .parent()
            .parent()
            .addClass("active"));
      }),
      t(document).ready(function () {
        var e;
        0 < t("#sidebar-menu").length &&
          0 < t("#sidebar-menu .mm-active .active").length &&
          300 < (e = t("#sidebar-menu .mm-active .active").offset().top) &&
          ((e -= 300),
          t(".vertical-menu .simplebar-content-wrapper").animate(
            { scrollTop: e },
            "slow"
          ));
      }),
      t('[data-bs-toggle="fullscreen"]').on("click", function (e) {
        e.preventDefault(),
          t("body").toggleClass("fullscreen-enable"),
          document.fullscreenElement ||
          document.mozFullScreenElement ||
          document.webkitFullscreenElement
            ? document.cancelFullScreen
              ? document.cancelFullScreen()
              : document.mozCancelFullScreen
              ? document.mozCancelFullScreen()
              : document.webkitCancelFullScreen &&
                document.webkitCancelFullScreen()
            : document.documentElement.requestFullscreen
            ? document.documentElement.requestFullscreen()
            : document.documentElement.mozRequestFullScreen
            ? document.documentElement.mozRequestFullScreen()
            : document.documentElement.webkitRequestFullscreen &&
              document.documentElement.webkitRequestFullscreen(
                Element.ALLOW_KEYBOARD_INPUT
              );
      }),
      document.addEventListener("fullscreenchange", o),
      document.addEventListener("webkitfullscreenchange", o),
      document.addEventListener("mozfullscreenchange", o),
      t(".right-bar-toggle").on("click", function (e) {
        t("body").toggleClass("right-bar-enabled");
      }),
      t(document).on("click", "body", function (e) {
        0 < t(e.target).closest(".right-bar-toggle, .right-bar").length ||
          t("body").removeClass("right-bar-enabled");
      }),
      document.getElementById("topnav-menu-content"))
    ) {
      for (
        var r = document
            .getElementById("topnav-menu-content")
            .getElementsByTagName("a"),
          c = 0,
          d = r.length;
        c < d;
        c++
      )
        r[c].onclick = function (e) {
          "#" === e.target.getAttribute("href") &&
            (e.target.parentElement.classList.toggle("active"),
            e.target.nextElementSibling.classList.toggle("show"));
        };
      window.addEventListener("resize", e);
    }
    t(function () {
      t('[data-bs-toggle="tooltip"]').tooltip();
    }),
      t(function () {
        t('[data-bs-toggle="popover"]').popover();
      }),
      window.sessionStorage &&
        ((n = sessionStorage.getItem("is_visited"))
          ? (t(".right-bar input:checkbox").prop("checked", !1),
            t("#" + n).prop("checked", !0),
            s(n))
          : sessionStorage.setItem("is_visited", "light-mode-switch")),
      t("#light-mode-switch, #dark-mode-switch, #rtl-mode-switch").on(
        "change",
        function (e) {
          s(e.target.id),
            1 ==
              (a =
                "light" == document.body.getAttribute("data-bs-theme") &&
                "light" == document.body.getAttribute("data-topbar")
                  ? !0
                  : a) &&
              "light" == document.body.getAttribute("data-bs-theme") &&
              document.body.setAttribute("data-topbar", "light");
        }
      ),
      t(window).on("load", function () {
        t("#status").fadeOut(), t("#preloader").delay(350).fadeOut("slow");
      }),
      Waves.init();
  })(jQuery);
</script>
{% endblock scripts %}
